<section data-ng-controller="HomeController">
	<div class="home-banner" data-ng-style="{'height': screenHeight()}">
	</div>
	<div class="col-sm-12 how-it-works">
		<h2>How it works</h2>
		<div class="col-sm-4">
			<h3>Sign Up</h3>
			<span><img src="modules/core/img/brand/signup.png" alt=""></span>
		</div>
		<div class="col-sm-4">
			<h3>Create Quizzes</h3>
			<span><img src="modules/core/img/brand/create.png" alt=""></span>
		</div>
		<div class="col-sm-4">
			<h3>Share Quizzes</h3>
			<span><img src="modules/core/img/brand/share.png" alt=""></span>
		</div>
	</div>
	<div class="create-test">
		<a class="create-quiz" href="/#!/quiz/create">Create Quiz Now</a>
	</div>
</section>
