<section class="view-quiz clearfix" data-ng-controller="QuizController">
<h3>Create Your Own Quiz</h3>
		<form data-ng-show="user._id" class="clearfixr" action="" data-ng-submit="createQuiz()" novalidate>
	        <div class="form-group">              
	          <div class="col-md-8">
	            <input class="form-control" type="text" name="quizName" data-ng-model="quizName" placeholder="Quiz Title" required>
	          </div>
	        </div>    
	        <div class="form-group">
	          <div class="col-md-8">
	            <input class="form-control" type="text" name="category" data-ng-model="category" placeholder="Category">
	          </div>
	        </div> 

	        <div class="form-group">
	          <div class="col-md-8">
	            <textarea class="form-control" type="text" name="description" rows="4" data-ng-model="description" placeholder="Description" required></textarea>
	          </div>
	        </div>   
	        <div class="col-sm-8">
	        	<question></question>
	        </div>
	        
			
	          <div class="col-md-12" style="margin: 30px 0; text-align:center">	
				<div data-ng-show="!quizName || !description || !questionArray.length" class="label label-danger">Quiz title and description are required and at least one question must be created</div><br>
				<div class="form-group">
					<button data-ng-disabled="!quizName || !description || !questionArray.length" id="quizSubmit" type="submit" name="submit" class="createquiz">Create Quiz</button>
				</div>
	            
	          </div>
	          
		</form>
<div class="form-group col-md-12">
		<div class="alert center col-sm-8 alert-info" data-ng-hide="user._id">
			Oops! You have to <a href="/#!/signin">sign in</a> or <a href="/#!/signup">sign up</a> to create a quiz
		</div>
</section>