<section class="quizzes" data-ng-controller="QuizController" data-ng-init="listQuizzes()">
	<h3>All Quizzes</h3>
	<ul>
		<li class="quiz-list clearfix" ng-repeat="quiz in quizzes | limitTo: 20">
			<h3><a href="#!/quiz/{{quiz.slug || quiz._id}}">{{quiz.quizName}}</a></h3> ({{quiz.questions.length}} Question(s))
			<a href="#!/quiz/{{quiz.slug || quiz._id}}" class="pull-right btn btn-default" data-ng-if="user._id === quiz.user._id">Edit <span class="glyphicon glyphicon-pencil"></span></a>
			<a href="#!/quiz/{{quiz.slug || quiz._id}}" class="pull-right btn btn-success" data-ng-if="user._id !== quiz.user._id">Take Quiz</a>
		</li>
	</ul>
	<div class="center" data-ng-if="!quizzes.length && quizzes.$resolved">
		No quizzes yet created. <a href="/#!/quiz/create">Create one now</a>
	</div>
</section>