<section class="view-quiz" data-ng-controller="QuizController" data-ng-init="getQuiz()">
	<div>
		<h3 class="clearfix">
			<div class="col-sm-10">{{quiz.quizName}}</div>
			<a data-ng-if="isAuthor" data-ng-click="removeQuiz()" class="pull-right btn btn-danger">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
			<a data-ng-if="isAuthor" data-ng-click="editQuiz()" class="pull-right btn btn-primary">
				<i class="glyphicon glyphicon-pencil"></i>
			</a>
		</h3> 
		<span>{{quiz.description}}</span>
		<div style="text-align:center; margin:30px 0; border-top:1px dashed #ddd; padding-top:30px">
			<a class="btn btn-primary createquiz" data-ng-if="!isAuthor" data-ng-click="takeQuiz()" data-ng-hide="takethequiz">Take Quiz Now</a>
		</div>
	
			<the-questions></the-questions>
			<div class="center">
				<button data-ng-if="isAuthor" data-ng-click="loadForm()" class="btn btn-primary">Add More Question</button>
			</div>
	</div>
	<div style="text-align:center; margin:30px 0; border-top:1px dashed #ddd; padding-top:30px">
		<a data-ng-if="isAuthor" class="createquiz" href="/#!/quiz/create">Create New Quiz</a>
	</div>
	
</section>