<div class="modal-header">
            <h3 class="modal-title">Add Question Form</h3>
        </div>
        <div class="modal-body">
            <input id="question" type="text" name="question" data-ng-model="question" placeholder="Enter Question here"><br>
    <div id="optionDiv">
        <input type="text" name="option" data-ng-model="questionOptions[0]" placeholder="option 1">
    <input type="radio" name="optionanswer" value="{{questionOptions[0]}}" data-ng-model="answer"><br>
    <input type="text" name="option" data-ng-model="questionOptions[1]" placeholder="option 2"><input type="radio" name="optionanswer" value="{{questionOptions[1]}}" data-ng-model="answer"><br>
    </div>
    <a class="btn btn-primary" data-ng-click="addOption()"><i class="glyphicon glyphicon-plus"></i></a>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-ng-click="postQuestion()">Add Question</button>
            <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
        </div>